body {
background: url(../img/h_bg.jpg) no-repeat 24px 3px;
}

.nav ul {
     list-style: none;
}

.nav li {
    wwidth: 84px;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
    }

.nav li a {
    padding: 8px 10px;
    text-decoration: none;
    
}

.nav li a:link,
.nav li a:active,
.nav li a:visited {
    color: brown;
    font-size:  13px;
}

.nav li a:hover {
    background: url(../img/nav_bg.gif) no-repeat;
}