body {
	padding: 0px;
	margin: 0px;
	font: 12px tahoma;
}

dl,
ul,
ol,
h1 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #ff7300;
}

a.img {
	border: 0px;
}

#container {
	width: 980px;
	margin: 0 auto;
	float: none;
}


/*头部，从LOGO到服务热线*/

#header {
	width: 100%;
	height: 136px;
	float: left;
	background: url(../img/h_bg.jpg)no-repeat -22px 0px;
}

#logo {
	width: 280px;
	height: 100px;
	float: left;
	background: url(../img/h_bg.jpg)-22px 0px;
}

.upright_menu {
	width: 45%;
	height: 28px;
	float: right;
	padding: 13px 0px 0px 0px;
}

.upright_menu ul li {
	float: left;
	font: 12px/28px 宋体;
}

.pic {
	width: 28px;
	height: 28px;
	background: url(../img/icon.gif)no-repeat;
}

.pic2 {
	background-position: -28px 0px;
}

.pic3 {
	background-position: -84px 0px;
}

.pic4 {
	background-position: -112px 0px;
}

.h_text02,
.btn {
	padding: 0px 5px;
	text-align: center;
}

.btn {
	width: 38px;
	background-position: 0px -25px;
}

.upright_bottom {
	width: 62%;
	float: right;
}

.hello {
	padding-top: 36px;
	color: #636362;
	letter-spacing: 3px;
}

.nav {
	clear: both;
	width: 100%;
}

.nav li {
	width: 84px;
	float: left;
	text-align: center;
	font-weight: bold;
}

.nav li a {
	padding: 8px 10px;
	line-height: 32px;
	color: #333;
	font-size: 14px;
}

.nav ul li a:hover {
	background: url(../img/nav_bg.gif);
}


/*商品分类列表-主体*/

.catlist {
	background: url(../img/catlist_bg.gif) no-repeat;
	padding-top: 65px;
}

.catlist td {
	border-bottom: 1px #ddd dashed;
	line-height: 30px;
}

table#main {
	width: 100%;
	height: 643px;
}


/*常用风格*/

.b {
	font-weight: bold;
}

.a_c {
	text-align: center;
}

.a_1 {
	text-align: left;
}

.a_r {
	text-align: right;
}

.f_1 {
	text-align: left;
}

.f_r {
	text-align: right;
}

.f_n {
	text-align: none;
}


/*宽度，w开头代表宽度，h开头为高，p结尾为百分比*/

.w10p {
	width: 10%;
}

.w20p {
	width: 20%;
}

.w50p {
	width: 50%;
}


/*底部*/

#footer {
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 20px;
	clear: both;
	float: left;
}