body{padding: 0px;
      margin: 0px;
      font: 12px tahoma;}
dl,ul,ol,h1{list-style: none;margin: 0px;padding: 0px;}
a{color: #333333;text-decoration: none;}
a:hover{color: #ff7300;}
a.img{border: 0px;}
#container{width: 980px;
          margin: 0 auto;
          float: none;}
#footer{
      width: 100%;
      height: 150px;
      text-align: center;line-height: 20px;
      clear: both;
      float: left;
 }