body{
background: url(../img/h_bg.jpg)no-repeat 24px -88px;
}
.nav ul{
  list-style: none;
}
.nav li{
width: 84px;
float: left;
text-align: center;
font-weight: bold;
line-height: 24px;
}
.nav li a{
padding: 8px 10px;
text-decoration: none;
}
.nav li a:link,
.nav li a:active,
.nav li a:visited{
    color: #333;
    font-size: 13px;
}
.nav li a:hover{
background: url(../img/nav_bg.gif)no-repeat;
}
