#right{width: 270px;
height: 230px;
padding: 32px;
background:
url(../img/bg.gif) no-repeat;
}
#right dl dt{
float: left;
margin: 0px;
width: 70px;
padding: 0px 0px;
text-align: center;}
#right dl dt img {
border:1px solid #9ea0a2 ;
width: 50px ;height: 47px;
vertical-align: middle;
}
#right dl dd a{
font:12px/47px 宋体;
color: #333;
 text-decoration: none;
 }
#right dl dd a:hover{
color: #ff7300;
}