#container{
	width: 940px;
	margin: 0px auto;}
#header{
	width: 100%;
	padding-top:10px ;}
#header div{float: left;}
.logo{padding: 0px 45px 13px 0px;}
.banner{padding: 0px 10px 13px 0px ;}
/*活动页据点页顶部*/
.round{
	line-height: 21px;
	background: url()url(../img/rounded-right.gif) top right no-repeat;width: 195px;}
.round .list{padding: 9px 9px 0px 9px;background: url(../img/rounded-left.gif)top left no-repeat;}
.round .end{padding: 0px 0px 0px 9px;background: url(../img/rounded-left.gif)bottom left no-repeat;}
.round .end p{line-height:9px ;height: 9px;margin-top: -9px;padding: 0px 9px 9px 0px;
				background: url()url(../img/rounded-right.gif)bottom right no-repeat;}
.nav{width: 100%;height: 112px;background: url(../img/bg.gif)no-repeat;}
.nav ul li .welcome{width: 230px;font:normal 12px/36px 宋体;color:blueviolet;}
.nav ul li{float: left;width: 64px;font: bold 14px/36px"宋体";text-align: center;color:darkblue}
#header .nav ul li a{color:#A52A2A;}
#header .nav ul li a:hover{color: #FF7300;}
.nav ul li .curmenu{width: 100px;color: #046ac7;
				background: url(../img/bg.gif) 0px -112px no-repeat;}
.nav form{margin: 55px 0px 0px 20px;}
.nav form input{float: left;height: 25px;line-height: 27px;}
/*活动页主体*/
#main {width: 100%;}
	.cat{float: left;
	clear:both ;
	padding: 10px 2px 2px 2px;
	margin-right: 10px;
	background: #e2e2e2;}
		.cat h1, .aside h1{float: left;
			border: 1px #ccc solid;padding-left: 10px;
			width: 182px;height: 42px;font: bold 14px/42px 宋体;
			background: url(../img/h1_bg.gif) repeat-x;}
#main .cat p{float:left;color:#000;width: 190px;padding-left: 5px;line-height: 25px;
		height: 25px;background: #E2E2E2;			}
	.cat p a{padding: 0px 10px 2px 10px;margin-right: 23px;text-decoration: underline;color: #f70;background: #fff;}
#main .cat ul{float: left; border: 1px#d8dacd solid;padding: 0px 0px 10px 10px;margin-bottom: 10px;
				width: 184px;
				color:#A52A2A;
				background:#fff}
.cat h2{clear: both;height: 32px;color: #000;font: bold 14px/32px 宋体;}
.cat li{line-height: 25px;float: left;width: 50%;}
.cat ul li a{color:#666;}
.cat ul li span{#ff7300;}

#main ul .date{width: 185px;padding: 5px 5px 10px 5px;}
			.date h5{height: 19px;font: bold 12px/19px 宋体;background: #e0f4d8;text-align: center;}
				.date select{float:left;width: 50%;background: #81c443;}		
			.date li{width: 24px;height: 12px;line-height: 12px;border: 1px #ddd solid;font: normal 10px arial;text-align: center;}
					.date li .curday{background: #814cc3;}
						.date .weekday li{background: b2da77;border: 0px;height: 16px;width: 26px;padding-top: 2px;font-size: 12px;}
.date li  a{display: block;width: 22px;height:12px ;}
.date li a:hover{height: 11px;line-height: 11px;border: 1px #000 solid;background: #fff;}






